  <header>
    <h1>Call Me Maybe</h1>
    <p class="tagline">A contact app you never knew you didn’t need.</p>
  </header>

  <main>
    <section class="features">
      <h2>Things We Let You Do (For Some Reason)</h2>
      <ul>
        <li>Create contacts you’ll instantly forget</li>
        <li>View names that look vaguely familiar</li>
        <li>Edit numbers because people change (phones, not personalities)</li>
        <li>Delete contacts like a cold-hearted savage</li>
      </ul>
    </section>
    <div class="ki">
        <img src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/WZEUY7Q6GMI6ZPVIGCHKCNCZJ4.jpg&w=1800&h=1800"
            alt="">
        <br> <br> <br>
        <h3>Why do you need a website to add contact btw?</h3>
    </div>
    <p class="subtle">App experience may include disappointment and accidental nostalgia.</p>
  </main>
